name: Deploy API to Azure App Service

on:
  push:
    branches: [ "main" ]
    paths:
      - "TinyTickets.Api/**"
      - ".github/workflows/api-deploy.yml"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Setup .NET 8 SDK
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'

    - name: Publish API Project
      run: dotnet publish TinyTickets.Api/TinyTickets.Api.csproj -c Release -o publish

    - name: Deploy to Azure App Service
      uses: azure/webapps-deploy@v2
      with:
        app-name: tinytickets-api
        publish-profile: ${{ secrets.AZURE_PUBLISH_PROFILE }}
        package: ./publish
